{
  "rules": {
    "indent": [2, 4],
    "no-var": 2,
    "prefer-arrow-callback": 2,
    "prefer-const": 2,
    "prefer-template": 2
  },
  "parserOptions": {
    "ecmaVersion": 2022
  },
  "env": {
    "node": true,
    "es2022": true
  }
}
